<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <link href="/css/app.css" type="text/css" rel="stylesheet">
    <link href="/css/form.css" type="text/css" rel="stylesheet">
    <link href="/lib/fontello/fontello.css" rel="stylesheet">

    <title>Open Tickets</title>
  </head>

  <body>
    <form id="form" action="/tickets" method="post">
      <h1>Open Tickets</h1>
      {{ if .Error }}<h2 class="icon-warning">{{.Error}}</h2>{{ end }}
      {{ range .Tickets }}
      <p class="font-mono">{{ . }}</p>
      {{ end }}
      <input name="new" type="text" value="yes" style="opacity: 0; height: 0; margin: 0;">
      <input type="submit" style="opacity: 0; height: 0; margin: 0;">
      <a id="button" class="button">Add Ticket</a>
      <script>document.getElementById("button").onclick = () => {document.getElementById("form").submit()}</script>
    </form>
  </body>

</html>
