/*
  Styles for App Components
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-mono {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


/* COLORS */

/*
white - EEF0F2
black - 141414
gray  - 424C55
hero  - 43BCCD
*/

body {
  color: #141414;
  background: #EEF0F2;
}

.editor {
  color: #EEF0F2;
  background: #141414;
}

.editor .code .button {
  color: #141414;
  background: #EEF0F2;
}

.sheet .header {
  color: #FFF;
  background: #43BCCD;
}

.sheet .button {
  color: inherit;
  background: inherit;
}

modal-widget div {
  color: #141414;
  background: #EEF0F2;
}
modal-widget .button {
  color: #FFF;
  background: #43BCCD;
}


/* LAYOUT */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px;
  overflow: hidden;
}

.editor {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 2;
  margin-right: 25px;
  border-radius: 15px;
  overflow: hidden;
}

.editor .code {
  width: 100%;
  height: 200px;
  position: relative;
  flex-grow: 2;
}
.editor .code textarea {
  width: 100%;
  height: 100%;
  display: block;
}
.editor .code .button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.editor .console {
  width: 100%;
  height: 150px;
  flex-grow: 0.1;
  padding: 15px;
}

.sheet {
  height:100%;
  width:600px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 15px;
  overflow: hidden;
}

.sheet .header {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}

.sheet .content {
  width:100%;
  padding: 15px;
  overflow-y: auto;
}


/* OTHER STYLES */

.editor {
  font-size: 15px;
}

.editor .console {
  z-index: 3;
  box-shadow: 0 0 25px 1px rgba(0,0,0,0.5);
}


/* ELEMENTS */

.button {
  width: auto;
  height: 40px;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 10px;

  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 30px;

  z-index: 3;
  transition: .1s;
  cursor: pointer;
}
.button:before {
  font-size: 20px;
  line-height: 30px;
  vertical-align: -8%;
  margin-left: 0 !Important;
}
.button:empty {
  padding: 5px 10px 5px 13px;
}
.button:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
.button:active {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
}


/* WIDGETS */

modal-widget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  overflow-y: auto;
  z-index: 3;
}
modal-widget div {
  width: 400px;
  max-width: 90%;
  height: auto;
  padding: 15px;
  border-radius: 15px;
}
modal-widget h1 {
  display: block;
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 800;
}
modal-widget p {
  display: block;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 400;
}
modal-widget.hidden {
  display: none;
  pointer-events: none;
}

timer-widget {
  width: auto;
  height: 70px;
  display: block;

  color: inherit;
  background: inherit;
}
timer-widget h1 {
  width: auto;
  height: 70px;
  display: inline-block;

  font-size: 40px;
  font-weight: 800;
  line-height: 70px;
  color: inherit;
  background: none;
  pointer-events: none;
}
timer-widget a {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 5px 0 5px 5px;

  font-size: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: rgba(0,0,0,0.5);
  background: none;
  border-radius: 100%;
  cursor: pointer;
  transition: .1s;
}
timer-widget a:hover {
  color: inherit;
  background: rgba(0,0,0,0.2);
}
timer-widget.locked {
  opacity: 0.7;
  pointer-events: none;
}

problem-widget {
  width: auto;
  height: auto;
  display: block;

  color: inherit;
  background: inherit;
}
problem-widget h1 {
  display: block;
  font-size: 30px;
  font-weight: 800;
}
problem-widget h2 {
  display: block;
  font-size: 20px;
  font-weight: 800;
}
problem-widget p {
  display: block;
  font-size: 18px;
  font-weight: 400;
}
problem-widget * {
  padding: 4px;
  margin: -4px -4px 6px -4px;
  white-space: pre-wrap;
}
problem-widget *[contenteditable=true] {
  padding: 2px;
  border: solid 2px rgba(0,0,0,0.1);
  border-radius: 5px;
}
problem-widget .hidden {
  display: none;
  pointer-events: none;
}

console-widget {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  background: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
}
